<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrs.admin.mapper.EnvironmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qrs.admin.pojo.Environment">
        <id column="id" property="id" />
        <result column="environment_number" property="environment_number" />
        <result column="dust_one" property="dust_one" />
        <result column="dust_two" property="dust_two" />
        <result column="noise" property="noise" />
        <result column="speed" property="speed" />
        <result column="update_time" property="update_time" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, environment_number, dust_one, dust_two, noise, speed, update_time, create_time
    </sql>

</mapper>
