<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrs.WeChat.mapper.DocumentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qrs.WeChat.pojo.Document">
        <id column="id" property="id" />
        <result column="attribute" property="attribute" />
        <result column="document_id" property="document_id" />
        <result column="document_name" property="document_name" />
        <result column="document_path" property="document_path" />
        <result column="document_score" property="document_score" />
        <result column="update_time" property="update_time" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, attribute, document_id, document_name, document_path, update_time, create_time
    </sql>

</mapper>
