<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrs.WeChat.mapper.ScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qrs.WeChat.pojo.Score">
        <result column="user_id" property="user_id" />
        <result column="attribute" property="attribute" />
        <result column="document_id" property="document_id" />
        <result column="document_score" property="document_score" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         user_id, attribute, document_id, document_score
    </sql>

</mapper>
